
#table1
  {
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  width:100%;
  border-collapse:collapse;
  margin:auto;
  }

#table1 td,th 
  {
  border:1px dotted #000000;
  padding:3px 7px 2px 7px;
  }

#table1 td {
  font-size: 14px;
}
#table1 th 
  {
  font-size:1.1em;
  text-align:left;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#eeeeee;
  }

#table1 tr.nonWorkDay 
  {
  font-size:5em;
  color:#000000;
  background-color:#EAF2D3;
  }

#reason {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-color: #000000;  
  width: 100%;
}

a:link    {color:black;}
a:visited {color:black;}
a:hover   {color:blue; font-size:120%;}
a:active  {color:black;}

div#employeeInfo {
  margin-bottom: 5px;
  padding-bottom: 5px;
}

a#currentCommit {
  border:1px #000000;
  border-bottom-color: #000000;
  text-decoration: underline;
}
a#currentCommit:hover   {color:blue; font-size:100%;}

div#employeeInfo2 {
  margin-top: 5px;
  padding-top: 5px;
}

a#currentCommit2 {
  border:1px #000000;
  border-bottom-color: #000000;
  text-decoration: underline;
}
a#currentCommit2:hover   {color:blue; font-size:100%;}